/.git
/node_modules
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache
/.env
/.env.backup
/.env.*.backup
/config/database.php
/public/index.php
/public/storage
/.phpunit.result.cache
/docker-compose.override.yml
Dockfile
.DS_Store
*.pem
.vscode
.idea
*.log
.env.local
.env.*.local
.cache
node_modules
build
dist
.npm
.env.production.local
